*{
    margin: 0px;
    padding: 0px;
}

#wrapper{
    width: 970px;
    background-color: #fafafa;
    padding-top: 5px
}

#mainbox{
    width: 930px;
    background: radial-gradient(circle, #6f5964, #49363e);
    margin-top: 5px;
    padding: 20px;
}

#header h3{
    display: inline-block;
    position: absolute;
    left: 650px;
    top: 10px;
}

#wrapper h1{
    margin: 0px;
    display: inline-block;
    text-indent: 20px;

}

#img{
    background-color: #bfbfbf;
    height: 235px;
    width: 400px;
    display: inline-block;
    padding: 5px;
}

#about{
    background: linear-gradient(to right, #fefefe, #beb4bd);
    height: 245px;
    width: 495px;
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
}

#abouttxt{
    text-indent: 20px; 
    background: linear-gradient( #b5b4bd, #83797f, #b5b4bd);
    height: 30px;
    color: white;
    margin-bottom: 5px;
}

#underline{
    text-decoration: underline;
}

#content{
    padding-left: 5px;
}

.boxes{
    background: linear-gradient(to right, #fefefe, #beb4bd);
    display: inline-block;
    height: 550px;
    width: 293px;
    vertical-align: top;
    margin-top: 20px;
}

#pad{
    margin-right: 20px;
    margin-left: 20px;
}

.boxes h3{
    color: white;
    text-indent: 20px; 
    background: linear-gradient( #b5b4bd, #83797f, #b5b4bd);
    height: 30px;
}

#content p{
    margin-bottom: 60px;
}

.margindown{
    margin-bottom: 10px;
}

#content img{
    margin-right: 2px;
}

.button{
    color: white;
    border-radius: 10px;
    background-color: #407d61;
    padding: 5px;
    display: inline-block;
    margin-top: 5px;
}

#button1{
    margin-left: 85px;
    box-shadow: 5px 5px 2.5px #888888;
    border: solid black
}

#button2{
    margin-left: 55px;
    box-shadow: 5px 5px 2.5px #888888;
    border: solid black
}

#button3{
    margin-left: 81px;
    box-shadow: 5px 5px 2.5px #888888;
    border: solid black
}

#footer{
    text-align: center;
    font-weight: normal;
    margin: 5px;
}